<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>500 Fiel</title>
        <%- include('../components/headers') %>
    </head>
    <body>
        <div>
            <!-- Content Header (Page header) -->
            <section class="content-header">
              <div class="container-fluid">
                <div class="row mb-2">
                  <div class="col-sm-6">
                    <h1>500 Error Page</h1>
                  </div>
                  <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                      <li class="breadcrumb-item"><a href="#">Hjem</a></li>
                      <li class="breadcrumb-item active">500 feil side</li>
                    </ol>
                  </div>
                </div>
              </div><!-- /.container-fluid -->
            </section>
        
            <!-- Main content -->
            <section class="content">
              <div class="error-page">
                <h2 class="headline text-danger">500</h2>
        
                <div class="error-content">
                  <h3><i class="fas fa-exclamation-triangle text-danger"></i> Uff! noe gikk galt!.</h3>
        
                  <p>
                    Vi skal fikse snart vi kan.
                    Meanwhile, you may <a href="../../index.html">Sende meg til dashboard</a>
                  </p>

                  <p>
                    <span style="color:brown;">Reason: </span>
                    <span><%= error %></span>
                  </p>
                </div>
              </div>
              <!-- /.error-page -->
        
            </section>
            <!-- /.content -->
          </div>

          <% include('../components/scripts') %>
    </body>
</html>